In [2]:
import numpy as np
import laspy as lp
import pandas as pd
import trimesh
from plyfile import PlyData, PlyElement, PlyProperty

In [14]:
plydata = PlyData.read('DALES POINT NET Trainning/data/dales_ply/train/5085_54320.ply')
point_data_ply = np.stack([plydata['vertex']['x'], plydata['vertex']['y'], plydata['vertex']['z'], plydata['vertex']['reflectance']], axis=0).transpose((1, 0))
df1 = pd.DataFrame(data=point_data_ply, columns=['X','Y','Z','reflectance'])
df1

                   X           Y          Z  reflectance
0         251.130005  272.679993  47.250000          0.0
1         252.289993  271.709991  47.180000          0.0
2         252.500000  272.320007  47.240002          0.0
3         255.300003  271.609985  47.169998          0.0
4         250.850006  272.040009  47.189999          0.0
...              ...         ...        ...          ...
14394744  700.270020  257.100006  95.129997          0.0
14394745  700.200012  254.889999  94.949997          0.0
14394746  700.559998  250.550003  94.669998          0.0
14394747  700.369995  251.259995  93.320000          0.0
14394748  700.789978  259.839996  94.669998          0.0

[14394749 rows x 4 columns]

In [15]:
df1.max()

X              750.059998
Y              750.059998
Z              135.899994
reflectance      0.000000
dtype: float32

In [16]:
df1.min()

X              250.020004
Y              250.020004
Z               45.299999
reflectance      0.000000
dtype: float32